<div class="container">
  <div class="card" style="width:200px" routerLink="/movie/{{movieData.title.split(' ').join('')}}">
    <img height="225px" class="card-img-top button-container"
      src="https://image.tmdb.org/t/p/w500/{{movieData.poster_path}}" alt="Card image" style="width:100%">
    <div class="btn" (click)="deleteMovie($event, movieData.id)">
      <fa-icon [icon]="faCircleXmark"></fa-icon>
    </div>
    <div class="card-body bg-dark pt-2 ">
      <h5 class="card-title text-center color pb-1" style="height:110px;">
        <fa-icon [icon]="faFilm "></fa-icon> {{movieData.title}}
      </h5>
      <div id="bottom">
        <div class="row">
          <div class="col-6 pe-3 ps-0 color text-start text-nowrap">
            <fa-icon [icon]="faCalendar"></fa-icon> {{movieData.release_date}}
          </div>
          <div class="col-6 ps-3 pe-3 color text-end">{{movieData.vote_average}}<fa-icon [icon]="faStar"
              class="changecolor pe-2"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>