
<div class="d-flex flex-wrap p-5">
  <div *ngFor="let item of data.results">
    <div class="container mt-3 ">
      <a [routerLink]="'/name'">
      <div class="card" style="width:200px">
        <img height="225px" class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{item.poster_path}}" alt="Card image" style="width:100%">
        <div class="card-body bg-dark pt-2 ">
          <h5 class="card-title text-center color pb-1" style="height:110px;"><fa-icon [icon]="faFilm "></fa-icon> {{item.title}}</h5>
          <div id="bottom">
              <div class="row">
                <div class="col-6 pe-3 ps-0 color text-start text-nowrap"><fa-icon [icon]="faCalendar"></fa-icon> {{item.release_date}}</div>
                <div class="col-6 ps-3 pe-3 color text-end">{{item.vote_average}} <fa-icon [icon]="faStar"class="changecolor pe-2" ></fa-icon></div>
              </div>
          </div>
       </div>
     </div>
      </a>
    </div>  
  </div>
</div> 
